* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: normal; }

button {
  font: inherit;
  border: 0;
  text-align: left; }

@font-face {
  font-family: "Inter UI Regular";
  src: url("../assets/Inter-Regular.woff");
  font-weight: normal;
  font-style: regular; }

body {
  background: url(/img/bakgrunn.png) no-repeat;
  scroll: smooth; }

header {
  max-width: 100vw;
  height: 1087px;
  display: grid;
  place-items: center; }

header h1 {
  transform: translateX(0) rotate(-45deg);
  position: relative;
  text-alaign: center; }

section {
  width: 100vw;
  height: 1087px;
  diaplay: grid;
  place-items: left;
  padding: 140px; }

.sec3, .sec6 {
  place-items: right; }

.sec1 {
  display: grid;
  place-items: center; }

h1 {
  color: #39BCBB;
  font-size: 4em; }

h2 {
  font-size: 3em;
  color: #A82225; }

p {
  color: #39BCBB;
  font-size: 2em;
  padding-bottom: 1em;
  width: 674px;
  position: relative; }

.rules p {
  width: 1348px; }

spam {
  color: #A82225; }
